:root {
    --default-green: #008D53;
}

body, html {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #E5E5EA;
    font-family: "Inter", sans-serif;
}

