.menu {
    display: none;
    cursor: pointer;
    z-index: 1000;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    height: 100vh;
    width: 20%;
    background-color: #FBFBFB;
    font-family: "Inter", sans-serif;
    z-index: 999;
}

.logoContainer {
    width: 100%;
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: 5%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
}

.ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ul li {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 13%;
    list-style: none;
    font-weight: bold;
}

.ul .link {
    display: flex;
    text-decoration: none;
    width: 100%;
    font-size: 130%;
    color: #3D4450;
}

.ul i:hover, .link:hover {
    color: #008D53;
}

.ul i {
    margin-right: 5%;
}

.profile {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #D9D9D9;
    height: 100%;
    margin-bottom: 4%;
}

.picture {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #008D53;
    width: 35px;
    height: 35px;
    border-radius: 8px;
    color: white;
}

.profile i {
    font-size: 2em;
    opacity: 50%;
}

.profile i:hover {
    color: red;
    cursor: pointer;
}

.profile .informations {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    opacity: 70%;
    font-weight: 500;
}

.modal {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    background: #FDFDFB;
    width: 45%;
    border-radius: 25px;
    height: 20%;
    z-index: 1000;
    padding: 1%;
    border: none;
    flex-direction: column;
}

.modal h2 {
    margin-bottom: 0;
}

.modal p {
    opacity: 0.7;
    font-size: 0.9em;
    margin-bottom: 0%;
}

.buttonsDiv {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

.modal button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 50%;
    border-radius: 10px;
    border: 0.1px solid;
    background-color: #FDFDFB;
    font-size: 1.1em;
}

.modal button:hover {
    cursor: pointer;
    background-color: #dfdfe0;
}

.modal .confirmBtn {
    font-size: 1.3em;
    background-color: #F00101;
    color: white;
    font-weight: bold;
    margin-left: 2%;
}

.modal .confirmBtn:hover {
    cursor: pointer;
    background-color: #b40000;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.ul li .selected {
    color: var(--default-green);
}

@media screen and (max-width: 1000px) {
    .modal {
        width: 55%;
    }
}

@media screen and (max-width: 870px) {
    .modal {
        height: 25%;
    }
}

@media screen and (max-width: 767px) {
    .modal {
        width: 75%;
    }
}

@media screen and (max-width: 1600px) {


    .ul .link {
        font-size: 120%;
    }

}

@media screen and (max-width: 1450px) {

    .ul {
        margin-right: 15%;
    }

}

@media screen and (max-width: 1400px) {

    .ul {
        margin-right: 15%;
    }

    .ul .link {
        font-size: 100%;
    }

}

@media screen and (max-width: 1250px) {

    .profile .informations {
        font-size: 1em;
    }

}

@media screen and (max-width: 1200px) {

    .ul .link {
        font-size: 95%;
        margin-left: -20px;
    }

}

@media screen and (max-width: 1023px) {

    .menu {
        display: block;
    }

    .menu i {
        position: absolute;
        font-size: 3em;
        top: 2%;
        left: 2%;
    }

    .sidebar {
        display: none;
        animation: smooth .4s;
        width: 40%;
    }

    .flex {
        display: flex;
    }

    .none {
        display: none;
    }

    .ul {
        font-size: 1em;
    }

    .profile .informations {
        font-size: 1.1em;
    }

    .profile i {
        font-size: 2em;
    }

    @keyframes smooth {
        
        0% { transform: translateX(-100%);}
        100% { transform: translateX(0%);}

    }

}

@media screen and (max-width: 800px) {
    
    .picture {
        width: 28px;
        height: 28px;
        font-size: 0.8em;
    }

    .sidebar {
        width: 40%;
    }
    
    .profile i {
        font-size: 1.5em;
        opacity: 50%;
    }

}

@media screen and (max-width: 700px) {
    
    .picture {
        width: 25px;
        height: 25px;
        font-size: 0.8em;
    }

    .profile .informations {
        font-size: 0.8em;
    }
    
    .profile i {
        font-size: 1.5em;
        opacity: 50%;
    }

    .sidebar {
        width: 40%;
    }

}

@media screen and (max-width: 767px) {

    .sidebar {
        width: 80%;
    }
    
    .picture {
        width: 28px;
        height: 28px;
        font-size: 0.8em;
    }

    .profile .informations {
        font-size: 0.8em;
    }
    
    .profile i {
        font-size: 1.7em;
        opacity: 50%;
    }

    .ul li {
        margin-bottom: 15%;
        font-size: 1em;
    }

}

@media screen and (max-width: 500px) {
    
    .picture {
        width: 23px;
        height: 23px;
        font-size: 0.8em;
    }

    .profile .informations {
        font-size: 0.7em;
    }
    
    .profile i {
        font-size: 1.4em;
        opacity: 50%;
    }

}

@media screen and (max-width: 500px) {
    
    .picture {
        width: 21px;
        height: 21px;
        font-size: 0.7em;
    }

    .profile .informations {
        font-size: 0.6em;
    }
    
    .profile i {
        font-size: 1.2em;
        opacity: 50%;
    }

}
    


